<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>MyReactBootstrap</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}"
          th:src="@{//assets/img/favicon.ico}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}" th:src="@{//assets/img/favicon.ico}"/>
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css"
          integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/dist/bundle.css}" th:src="@{//dist/bundle.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"/>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="../static/dist/main.js" th:src="@{/dist/main.js}"></script>
</body>
</html>
