<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>MyReactBootstrap</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}" th:src="@{//assets/img/favicon.ico}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}" th:src="@{//assets/img/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/dist/bundle.css}" th:src="@{//dist/bundle.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .column {
            max-width: 450px;
        }
    </style>
</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <form class="ui large form" th:action="@{/login}" method="post">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="User name">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" autocomplete="off">
                    </div>
                </div>
                <button type="submit" class="ui fluid large submit button">Sign in</button>
            </div>
            <div th:if="${param.error}" class="ui error message">
                Invalid username and password.
            </div>
            <!--suppress ThymeleafVariablesResolveInspection -->
            <div th:if="${param.logout}" class="ui error message">
                You have been logged out.
            </div>
        </form>
    </div>
</div>
</body>
</html>
